################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/hands-on/graphql-server/GraphqlServer/obj
/hands-on/graphql-server/.vs
/hands-on/graphql-server/GraphqlServer/bin/Debug/netcoreapp2.1
